:root {
  --primary-color: greenyellow;
  --secondary-color: #fff;
}
html {
  font-size: 62.5%; /*1rem = 10px*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* /////////////////// */
/*REUSABLE Classes*/
.heading-primary {
  color: var(--secondary-color);
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2;
}
.heading-secondary {
  color: var(--primary-color);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}
.heading-tertiary {
  color: var(--primary-color);
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.subpart {
  color: var(--secondary-color);
}

/* /////////////////// */
/* Custom Animations ---- */
@keyframes floatElement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.heading-primary:hover,
.heading-secondary:hover,
.heading-tertiary:hover {
  transform: skewX(-20deg);
}

@keyframes appearElementFromLeft {
  from {
    opacity: 0; /*invisible*/
    transform: translateX(-100%); /*position to leftside 100%*/
    /* clip-path: inset(100% 100% 0 0); */
  }
  to {
    opacity: 1; /*visible*/
    transform: translateX(0); /*position back to normal */
    /* clip-path: inset(0 0 0 0); */
  }
}

@keyframes appearElementFromRight {
  from {
    opacity: 0; /*invisible*/
    transform: translateX(100%); /*position to rightside 100%*/
  }
  to {
    opacity: 1; /*visible*/
    transform: translateX(0); /*position back to normal */
  }
}

@keyframes appearElementFromTop {
  from {
    opacity: 0; /*invisible*/
    transform: translateY(-100%); /*position to topside 100%*/
  }
  to {
    opacity: 1; /*visible*/
    transform: translateY(0); /*position back to normal */
  }
}

@keyframes appearElementFromBottom {
  from {
    opacity: 0; /*invisible*/
    transform: translateY(100%); /*position to bottomside 100%*/
  }
  to {
    opacity: 1; /*visible*/
    transform: translateY(0); /*position back to normal */
  }
}

.skills-container {
  animation: appearElementFromLeft linear; /*name timefunction*/
  animation-timeline: view();
  /* 'VIEW()' means Animation happens when that ParticularElement visibles on Screen*/
  animation-range: entry 0% cover 30%;
  /* 'ENTRY' makes Animation happens when Element starts to enter the ViewPort
      0% means startPoint. Animation starts only when 0% of that Element visible on Screen.
      30% means endPoint. Animation doesn't completes untill 30% of element visible on Screen. bythe time, it reaches 30% full animation is completed.
  */
  overflow-x: hidden;
}
.projects-container {
  animation: appearElementFromRight linear; /*name timefunction*/
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
  overflow-x: hidden;
}
.certificate-container {
  animation: appearElementFromLeft linear; /*name timefunction*/
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  overflow-x: hidden;
}
.form {
  animation: appearElementFromRight linear; /*name timefunction*/
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  overflow-x: hidden;
}

/* /////////////////// ***/
/* NAVIGATION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  padding-right: 4rem;

  background-color: rgb(38, 31, 40);
  height: 10vh;
  width: 100vw;

  position: fixed;
  z-index: 200;
}
a {
  display: inline-block;
  text-decoration: none;
  border: none;
}
.header-logo {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.3s; /*Hover effect*/
}
.header-logo:hover {
  color: var(--secondary-color);
  transform: scale(1.05);
}

.nav-list {
  display: flex;
  flex-direction: row;
  background-color: rgb(38, 31, 40);
  list-style: none;
}
.nav-link {
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--secondary-color);
  margin-left: 5rem;
  transition: all 0.3s; /*Hover effect*/

  position: relative; /*parentEl*/
}
.nav-link:hover {
  color: var(--primary-color);
  /* transform: scale(1.05); */
}
/* after psuedoElement */
.nav-link::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--primary-color);

  position: absolute; /*childEl of nav-link*/
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
}
.nav-link:hover::after {
  width: 90%;
}
/*nav-icons*/
.icons-holder {
  display: none;
}
.nav-open {
  color: var(--primary-color);
  font-size: 40px;
}
.nav-close {
  color: var(--primary-color);
  font-size: 30px;
}

/* /////////////////// */
/* MAIN SECTIONS */
main {
  position: absolute;
  width: 100%;
  left: 0;
  top: 10vh;
  z-index: 3;
}
section {
  background-color: #000106;
  background-image: radial-gradient(rgba(30, 4, 46, 0.747), rgb(8, 8, 8));
  padding: 10rem 10% 2.5rem 10%; /*tp rt bt lf*/
}

/* /////////////////// */
/* HOME section ***/
.home {
  height: 90vh;
  padding: 20px 0; /*test*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.home__content {
  width: 40%;
  padding-left: 1rem;
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description {
  font-size: 2.3rem;
  font-weight: 300;
  color: var(--secondary-color);
  margin: 2rem 0;
}
.icons {
  margin: 1.5rem 0;
}
.icon {
  display: inline-block;
  color: var(--secondary-color);
  font-size: 4.5rem;
  margin-right: 3rem;
}
.icon:hover {
  color: var(--primary-color);
}

.btn-resume {
  align-self: start;
  background-color: rgb(102, 159, 18);
  color: #fff;
  font-size: 2.2rem;
  padding: 1rem 4rem;
  margin: 1.5rem 0;

  border-radius: 0.6rem;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
.btn-resume i {
  font-size: 20px;
  padding-left: 8px;
}
.btn-resume:hover {
  color: #222;
  background: var(--primary-color);
  border: 2px solid var(rgb(102, 159, 18));
  box-shadow: 0 0 0.5rem rgb(132, 0, 255);
}

.home__img {
  align-self: flex-end;
  width: 55%;
}
.home__img img {
  width: 100%;
  filter: drop-shadow(1px 1px 1px #b026ff); /*similar to box-shadow*/
}

/* /////////////////// */
/* SKILLS section ***/
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin-top: 8rem;
  padding: 10px;
}
.each-container {
  max-width: 200px;
  /* height: 150px; */

  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 1rem rgb(122, 121, 121);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
}
.each-container:hover {
  box-shadow: 0 0 10rem greenyellow;
  transform: scale(1.1);
}
.skill {
  width: 70%;
  padding: 10%;
}
.skill-expressjs {
  width: 80%;
}

/* /////////////////// */
/* PROJECTS section ***/
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 8rem;
}
.project-container {
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgb(97, 95, 95);
  overflow: hidden;
  display: flex;
}
.project-img {
  width: 100%;
  opacity: 0.8;
  box-shadow: 0 0 1rem rgb(97, 95, 95);
  transition: all 0.5s ease;
}
.project-container:hover .project-img {
  transform: scale(1.1);
}

/* /////////////////// */
/*** CERTIFICATES section ***/
.certificates-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 8rem;
}
.certificate-container {
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgb(97, 95, 95);
  overflow: hidden;
  display: flex;
}
.certificate-img {
  width: 100%;
  opacity: 0.8;
  box-shadow: 0 0 1rem rgb(97, 95, 95);
  transition: all 0.5s ease;
}
.certificate-container:hover .certificate-img {
  transform: scale(1.1);
}

/* /////////////////// */
/* CONTACT US ***/
.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5.5rem;
}
.form input {
  height: 50px;
  width: 40%;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(40, 36, 36);
  border-radius: 8px;
  margin: 1rem;
  padding: 1.8rem;
  border: none;
}
.form input::placeholder,
.form textarea::placeholder {
  color: grey;
}
.form textarea {
  width: 81.5%;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 8px;
  margin: 1rem;
  padding: 1.8rem;
  border: none;
}
.form div {
  width: 90%;
  margin-top: 2.5rem;
  text-align: center;
}
.form-btn {
  height: 4.8rem;
  width: 12rem;
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  border-radius: 6px;
  color: var(--secondary-color);
  background-color: rgb(102, 159, 18);
  transition: all 0.3s ease;
}
.form-btn:hover {
  box-shadow: 0 0 0.5rem var(--primary-green-variation);
  font-size: 2rem;
  //transform: scale(1.2);
}

/* /////////////////// */
/* FOOTER ***/
.footer {
  background-color: #000106;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem 2rem; /*tp rt btLf*/
}
.footer p {
  display: inline-block;
  font-size: 2.5rem;
  color: #fff;
}
.footer-icon {
  font-size: 4rem;
  color: rgb(102, 159, 18);
}
